@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap');

.custom-nav .nav-link {
    color: white; /* Cor do texto */
    background-color: black; /* Cor de fundo */
}

.custom-nav .nav-link.active {
    color: white;
    background-color: black; /* Cor de fundo quando ativo */
}

.custom-nav .nav-link:hover {
    color: grey;
    /* background-color: Cor de fundo ao passar o mouse */
}

body {
    background-image: url(imgs/fundopreto.jpg);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    background-attachment: fixed;
    min-height: 100vh;
    min-width: 100vw;
    height: 100vh;
} 
#cabecalhologo
{
    width: 86px;
    height: 86px;
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
}
#cabecalhologo img
{
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

#logo img
{
    width: 400px;
    height: 400px;
}
#logo
{
    display: flex;
    align-items: center;
    justify-content: center;
}
#cabecalho
{
    background-color: black;
    padding-top: 0;
    padding-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

/* QUEM SOMOS */

.nav-link {
    color: #6b2d09; /* Cor dos links */
}

.nav-link:hover {
    color: #A63F03; /* Cor ao passar o mouse */
}

.dropdown-item {
    color: #6b2d09; /* Cor dos itens do dropdown */
}

.dropdown-item:hover {
    background-color: #A63F03; /* Cor de fundo ao passar o mouse no dropdown */
}
.navbar {
    background-color: #343a40; /* Altere para a cor desejada */
}
.nav-pills .nav-link.active
{
    background-color: #fdb761;
}

.todoconteudo
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4%;
    /* gap: 50px;
    margin-right: 50px; */
}
.conteudoimgs
{
    width: 60%;
}

.txt
{
    margin-top: 4%;
    margin-left: 4%;
    width: 30%;
    height: 750px;
    color: white;
    text-align: justify;
}
.txt h1
{
    font-family: "Bebas Neue", sans-serif;
}
.conteudotxt
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4%;
    gap: 50px;
}
.seta
{
    width: 0px;
    margin-right: 18px;
}
.seta img
{
    width: 100px;
}

.pag
{   
    margin-top: 4px;
    margin-right: 2%;
    display: flex;
    justify-content: right;
}
.breadcrumb-item.active
{
    color: #a4a7ac;
}
.breadcrumb-item a
{
    color: white;
}

/* PRODUTOS */

#titulohamburguer
{
    font-family: "Bebas Neue", sans-serif;
    font-size: 44px;
    margin-top: 20px;
    margin-left: 100px;
    color: aliceblue;
    display: flex;
    justify-content: center;
}
#titulobebida
{
    font-family: "Bebas Neue", sans-serif;
    font-size: 44px;
    margin-top: 14px;
    margin-left: 100px;
    color: aliceblue;
    display: flex;
    justify-content: center;
}

.cards
{
    margin-left: 100px;
    margin-bottom: 12px;
    display: flex;
    justify-content: center;
    gap: 50px;
}
#carouselExampleAutoplaying
{
    margin-left: 27%;
    display: flex;
    justify-content: center;
    width: 45%;
}
.btn.btn-primary
{
    background-color: #fdb761;
    border: #fdb761;
}

/* CONTATO */

.contatoformulario
{
    margin-top: 2%;
    font-family: "Bebas Neue", sans-serif;
    color: white;
    font-size: 38px;
    display: flex;
    justify-content: center;
}
.formulario
{
    margin-top: 2%;
    color: white;
    font-family: "Bebas Neue", sans-serif;
    font-size: 38px;
    justify-content: center;
    width: 700px;
    display: block;
    justify-self: center;
    text-align: center;
}
